<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="script" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="script" href="{% static 'fonts/glyphicons-halflings-regular.ttf' %}">
</head>

<body>
{#<div class="container">#}
    <nav class="navbar navbar-inverse nav-header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'django_app:index' %}">Cleaning thing</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
{#            <li><a href="{% url 'django_app:index' %}">Home</a></li>#}
            <li><a href="{% url 'django_app:register' %}">Register</a></li>
            {% if request.COOKIES.username %}
                <li><a href="{% url 'django_app:logout' %}">{{ request.COOKIES.username }} Logout</a></li>
                <li><a href="{% url 'django_app:change_password' %}">Change password</a></li>

            {% else %}
                <li><a href="{% url 'django_app:login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'django_app:offices' %}">Offices</a></li>
            <li><a href="{% url 'django_app:services' %}">Services</a></li>
            {% if request.COOKIES.connection == 'user' %}
                <li><a href="{% url 'django_app:client_orders' request.COOKIES.client_id %}">Check my orders</a></li>
{#                <li><a href="{% url 'django_app:check_order'%}">Check order</a></li>#}
                 <li><a href="{% url 'django_app:ready_not_returned_orders' request.COOKIES.client_id %}">Check ready orders</a></li>

                <li><a href="{% url 'django_app:client_info' request.COOKIES.client_id %}">Profile</a></li>

            {% endif %}

            {% if request.COOKIES.connection == 'worker' or request.COOKIES.connection == 'admin' %}
                {% if request.COOKIES.connection == 'worker' %}
                    <li><a href="{% url 'django_app:add_order' %}">Add order</a></li>
                {% endif %}
                <li><a href="{% url 'django_app:create_client' %}">Create client</a></li>

                <li><a href="{% url 'django_app:check_order' %}">Check order status</a></li>
                <li><a href="{% url 'django_app:check_client_orders' %}">Check client orders</a></li>
                <li><a href="{% url 'django_app:check_client_orders_ready_not_returned' %}">Check client ready orders</a></li>
                <li><a href="{% url 'django_app:all_ready_not_returned_orders' %}">All ready orders</a></li>
            {% endif %}
            {% if request.COOKIES.connection == 'admin' %}
                <li><a href="{% url 'django_app:check_client_info' %}">Check client info</a></li>
                <li><a href="{% url 'django_app:all_orders' %}">All orders</a></li>
                <li><a href="{% url 'django_app:get_bonuses' %}">All bonuses</a></li>

                <li><a href="{% url 'django_app:clients' %}">Clients</a></li>
                <li><a href="{% url 'django_app:create_user' %}">Create user</a></li>
                <li><a href="{% url 'django_app:create_bonus' %}">Create bonus</a></li>

                <li><a href="{% url 'django_app:get_discounts' %}">All discounts</a></li>
                <li><a href="{% url 'django_app:create_discount' %}">Create discount</a></li>
                 <li><a href="{% url 'django_app:create_service' %}">Create service</a></li>
                <li><a href="{% url 'django_app:create_office' %}">Create office</a></li>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{#</div>#}
</body>
